$def with (title, text, adminLink)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "/login",
      signOutUrl: "/logout",
    }
  );
</script>
<title>Jobn - Dashboard</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body> 

<!-- navigation bar -->
<div class="navbar navbar-default">
	
	<div class="container">
		
		<div class="navbar-header">
		
			
			<a href="http://gat.im/dashboard"><img class="logo" alt="Jobn" src="/static/logo_small.png"  /></a>
			
			<a class="navbar-brand">Dashboard</a>
			

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				
				<span class="sr-only">Toggle navigation</span>
				
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				
			</button>
				
		</div>
		
		<div class="collapse navbar-collapse">
		
			<ul class="nav navbar-nav">
				
				<li class="pages"><a href="">Reports</a></li>
				<li class="pages"><a href="/admin">Admin Panel</a></li>
				<li class="pages"><a href="/jobs">Jobs</a></li>
				<li class="pages"><div id="accountSwitcher"><div id="navbar" style="vertical-align:middle;width:100%;" class="center-block"></div></div></li>
				
				
			</ul>
			
		</div>
			
	</div>
	
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-12"><h1 style="padding:5px;">$title</h1></div>
	</div>
	<div class="row">
		<div class="col-sm-12"><p style="padding:5px;">$:text</p></div>
	</div>
</div>
</body>
</html>
