$def with (job, user, apiUrl)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/job_ajax.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "/login",
      signOutUrl: "/logout",
    }
  );
</script>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>COSC 481 Project</title>

</head>
<body>
<div class="containter">
  <div class="row">
    <div class="col-sm-2" style="z-index:255;height:65px;"><div id="navbar" style="vertical-align:middle;"></div></div>
    <div class="col-sm-8"><h1 style="text-align:center;">::$job['name']::</h1></div>
    <div class="col-sm-2"><h3 style="text-align:center;vertical-align:middle;"><a href="dashboard" class="button">Dashboard</a></h3></div>
  </div>
</div>
<div class="containter">
  <div class="row">
    <div class="col-sm-12"><h4><a href="edit/job/$job['id']">(edit)</a></h4></div>
  </div>
  $if job['isInProgress']:
    $ color = "PaleGreen"
  $else:
    $ color = "PaleVioletRed"
  <div class="row" style="background-color:$color;">
    <div class="col-sm-2"><p style="padding:5px;">Location: <a href="http://maps.apple.com/?q=$job['location']">$job['location']</a></p></div>
    <div class="col-sm-2"><p style="padding:5px;">Bill to: <a href="tel:+18005555555">$job['bill_to']</a></p></div>
    <div class="col-sm-2"><p style="padding:5px;">In progress: $job['isInProgress']</p></div>
    <div class="col-sm-2"><p style="padding:5px;">Date Started: $job['date_started']</p></div>
  </div>
</div>
$if user['canSeeNumbers']:
  <div class="contrainer">
    <div class="row">
      <div class="col-sm-12"><h1 style="padding:5px;">Budget</h1></div>
    </div>
    <div class="row">
      <div class="col-sm-12" id="apiResponse"></div>
    </div>
      $if 'budget' in job:
        <div class="row">
          <div class="col-sm-3"><strong>Name</strong></div>
          <div class="col-sm-3"><strong>Type</strong></div>
          <div class="col-sm-3"><strong>Cost</strong></div>
          <div class="col-sm-3">&nbsp;</div>
        </div>
        $for item in job['budget']:
          <div class="row" id="item_$item['id']">
            <div class="col-sm-3">
              <div id="name_$item['id']">$item['name']</div>
              <input type="text" class="edit_row" id="name_edit_$item['id']" name="name" size="30" value="$item['name']"/>
            </div>
            <div class="col-sm-3">
              <div id="type_$item['id']">$item['type']</div>
              <select id="type_edit_$item['id']" class="edit_row"><option value="select" selected>Type</option><option value="labor">Labor</option><option value="material">Material</option><option value="misc">Misc</option></select>
            </div>
            <div class="col-sm-3">
              <div id="cost_$item['id']">$item['cost']</div>
              <input type="text" id="cost_edit_$item['id']" class="edit_row" name="cost" size="30" value="$item['cost']"/>
            </div>
            <div class="col-sm-3">
              <div id="buttons_$item['id']"><button class="edit_button" id="edit_$item['id']">Edit</button><button class="delete_button" id="delete_$item['id']">Delete</button></div>
              <div id="buttons_edit_$item['id']" class="edit_row"><button class="save_button" id="save_$item['id']">Save</button><button class="cancel_button" id="cancel_$item['id']">Cancel</button></div>
            </div>
          </div>
      $else:
        <div class="row">
          <div class="col-sm-12">No budget items yet...</div>
        </div>
      <div id="addItemForm">
          <div id="row">
              <div class="col-sm-3"><input type="text" id="name" name="name" size="30" placeholder="Name"/></div>
              <div class="col-sm-3"><select id="type"><option value="select" selected>Type</option><option value="labor">Labor</option><option value="material">Material</option><option value="misc">Misc</option></select></div>
              <div class="col-sm-3"><input type="text" id="cost" name="cost" size="30" placeholder="Cost"/></div>
              <div class="col-sm-3"><button id="budgetAdd">Add</button><button id="cancelBudgetAdd">Cancel</button></div>
          </div>
      </div>
      <div id="row">
          <button id="showBudgetAdd">Add a budget item</button>
      </div>
  </div>

<div class="hidden" id="apiKey">$user['apiKey']</div>
<div class="hidden" id="jobId">$job['id']</div>
<div class="hidden" id="budgetRowTemplate">
  <div class="row" id="item_!template!">
    <div class="col-sm-3">
      <div id="name_!template!"></div>
      <div id="name_edit_!template!" class="edit_row"></div>
    </div>
    <div class="col-sm-3">
      <div id="type_!template!"></div>
      <div id="type_edit_!template!" class="edit_row"></div>
    </div>
    <div class="col-sm-3">
      <div id="cost_!template!"></div>
      <div id="cost_edit_!template!" class="edit_row"></div>
    </div>
    <div class="col-sm-3">
      <div id="buttons_!template!"><button class="edit_button" id="edit_!template!">Edit</button><button class="delete_button" id="delete_!template!">Delete</button></div>
      <div id="buttons_edit_!template!" class="edit_row"><button class="save_button" id="save_!template!">Save</button><button class="cancel_button" id="cancel_!template!">Cancel</button></div>
    </div>
  </div>
</div>
</body>
</html>