$def with (job, user, apiUrl)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/job_ajax.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "/login",
      signOutUrl: "/logout",
    }
  );
</script>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/favicon.png">
<title>Jobn - $job['name']</title>
<style type="text/css">
.note-card {
    background-color: aliceblue;
    border-width: .15rem;
}
.note-card > .card-header  {
	padding: .0125rem;
    margin-bottom: 0rem;
}
.note-card > .card-header > .card-title {
	padding: .0125rem;
	margin-bottom: 0rem;
}
.note-card > .card-block {
    padding: .0125rem;
    margin-bottom: 0rem;
}.note-card > .card-block > p {
    padding: .0125rem;
    margin-left: .1rem;
    margin-bottom: 0rem;
}
.note-card > .card-block > hr {
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.note-card > .card-footer {
    padding: .0125rem;
    margin-bottom: 0rem;
}
</style>
</head>

<body>
<div class="hidden" id="apiKey">$user['apiKey']</div>
<div class="hidden" id="jobId">$job['id']</div>
<table class="hidden">
	<tbody id="budgetRowTemplate">
		<tr>
			<td>
				<div id="name_!template!"></div>
		  		<input type="text" class="edit_row" id="name_edit_!template!" name="name" size="10" />
			</td>
			<td>
				<div id="type_!template!"></div>
		  		<select id="type_edit_!template!" class="edit_row"><option value="select" selected>Type</option><option value="labor">Labor</option><option value="material">Material</option><option value="misc">Misc</option></select>
			</td>
			<td>
				<div id="cost_!template!"></div>
		  		<input type="text" id="cost_edit_!template!" class="edit_row" name="cost" size="5" />
			</td>
			<td>
				<div id="buttons_!template!"><button class="edit_button" id="edit_!template!">Edit</button><button class="delete_button" id="delete_!template!">Delete</button></div>
		 		<div id="buttons_edit_!template!" class="edit_row"><button class="save_button" id="save_!template!">Save</button><button class="cancel_button" id="cancel_!template!">Cancel</button></div>
			</td>
		</tr>
	</tbody>
</table>

<!-- navigation bar -->
<div class="navbar navbar-default">
	
	<div class="container">
		
		<div class="navbar-header">
			
			<a href="http://gat.im/dashboard"><img class="logo" alt="Jobn" src="/static/logo_small.png"  /></a>
			
			<h1 class="navbar-brand">$job['name']</h1>
			

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				
				<span class="sr-only">Toggle navigation</span>
				
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				
			</button>
				
		</div>
		
		<div class="collapse navbar-collapse">
		
			<ul class="nav navbar-nav">
				
				<li class="pages"><a href="/jobs">Jobs</a></li>
				<li class="pages"><a href="/dashboard">Dashboard</a></li>
				<li class="pages"><div id="accountSwitcher"><div id="navbar" style="vertical-align:middle;width:100%;" class="center-block"></div></div></li>
				
				
			</ul>
			
		</div>
			
	</div>
	
</div>

<!-- Begin Job Information -->
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12"><h4><a href="edit/job/$job['id']">(edit)</a></h4></div>
	  </div>
	  $if job['phase'] == "open":
	    $ color = "PaleGreen"
	  $else:
	    $ color = "PaleVioletRed"
	  $ job['location'] = job['street_address']+" "+job['city']+" "+job['state']+" "+job['zip']
	  <div class="row" style="background-color:$color;">
	    <div class="col-sm-2"><p style="padding:5px;">Location: <a href="http://maps.apple.com/?q=$job['location']">$job['location']</a></p></div>
	    <div class="col-sm-2"><p style="padding:5px;">Phase: $job['phase']</p></div>
	    <div class="col-sm-2"><p style="padding:5px;">Date Started: $job['date_started']</p></div>
	  </div>
	</div>
<!-- End Job Information -->


$if user['permissionLevel'].upper() == "ADMIN" or user['permissionLevel'].upper() == "MANAGER":
	<hr>
	<!-- Begin Budget Stuff -->
		<div id="apiResponse"></div>
		<div class="text-center"><h3>Budget <small><a href="#" id="hide-budget">[-]</a><a href="#" id="show-budget">[+]</a></div></small></h3>
		<div class="table-responsive">
		<table id="budget-table" class="table table-striped table-condensed table-bordered text-center">
  		<thead>
  			<tr>
  				<th class="text-center">Name</th>
  				<th class="text-center">Type</th>
  				<th class="text-center">Cost</th>
  				<th>&nbsp;</th>
  			</tr>
  		</thead>
  		<tbody>
		$if 'budget' in job:
			$for item in job['budget']:
				<tr id="item_$item['id']">
					<td>
						<div id="name_$item['id']">$item['name']</div>
    	          		<input type="text" class="edit_row" id="name_edit_$item['id']" name="name" size="10" value="$item['name']"/>
					</td>
					<td>
						<div id="type_$item['id']">$item['type']</div>
    	          		<select id="type_edit_$item['id']" class="edit_row"><option value="select" selected>Type</option><option value="labor">Labor</option><option value="material">Material</option><option value="misc">Misc</option></select>
					</td>
					<td>
						<div id="cost_$item['id']">$item['cost']</div>
    	          		<input type="text" id="cost_edit_$item['id']" class="edit_row" name="cost" size="5" value="$item['cost']"/>
					</td>
					<td>
						<div id="buttons_$item['id']"><button class="edit_button" id="edit_$item['id']">Edit</button><button class="delete_button" id="delete_$item['id']">Delete</button></div>
    	         		<div id="buttons_edit_$item['id']" class="edit_row"><button class="save_button" id="save_$item['id']">Save</button><button class="cancel_button" id="cancel_$item['id']">Cancel</button></div>
					</td>
				</tr>
		$else:
			<tr>
				<td colspan="4">No budget items yet...</td>
			</tr>
		<tr>
			
		</tr>
		<tr>
			<td colspan="4" id="showBudgetAdd"><button>Add a budget item</button></td>
			<td class="addItemForm"><input type="text" id="name" name="name" size="30" placeholder="Name"/></td>
			<td class="addItemForm"><select  id="type"><option value="select" selected>Type</option><option value="labor">Labor</option><option value="material">Material</option><option value="misc">Misc</option></select></td>
			<td class="addItemForm"><input type="text" id="cost" name="cost" size="30" placeholder="Cost"/></td>
			<td class="addItemForm"><button  id="budgetAdd">Add</button><button id="cancelBudgetAdd">Cancel</button></td>
		</tr>
  		</tbody>
		</table>
  		</div>
  	<!-- End Budget Stuff -->

	

<!-- Begin Note Stuff -->
	<hr>
	<div class="text-center"><h3>Notes <small><a href="#" id="hide-notes">[-]</a><a href="#" id="show-notes">[+]</a></div></small></h3>
	<div class="container" id="notes-container">
		<div class="col-sm-4">
			<div class="card-group">
				<div class="card add-note-card text-center">
					<div class="card-header">
						<h5 class="card-title">Add a Note</h5>
					</div>
					<div class="card-block">
						<p>
							Note Type: <br>
							<input type="radio" id="note-type-note" name="note-type" value="note" onclick="selectedNote()" checked> Note
							<input type="radio" id="note-type-dailyReport" name="note-type" onclick="selectedDailyReport()" value="dailyReport"> Daily Report
							<input type="radio" id="note-type-actionItem" name="note-type" onclick="selectedActionItem()" value="actionItem"> Action Item
						</p>
						<p class="daily-report-field">
							Arrival Time:<br>
							<input id="note-arrivalTime" type="time"> <br>
							Departure Time:<br> 
							<input id="note-departureTime" type="time">
						</p>
						<p class="daily-report-field">
							People On Site: <br>
							<textarea id="note-PeopleOnSite"></textarea>
						</p>
						<p>
							Message: <br>
							<textarea id="note-message"></textarea>
						</p>
						<p class="action-item-field">
							Assignee: <br>
							<input id="note-assignee" type="text">
						</p>
					</div>
					<div class="card-footer">
						<button id="submitNote" onclick="notesAjax();">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="container">
				<div class="card-group note-card-group"> 
					$for note in job['notes']:
						$if note['tbl'] == 'dailyReports':
							$ type = "Daily Report"
							$ cardType = "card-warning"
						$if note['tbl'] == 'actionItems':
							$ type = "Action Item"
							$ cardType = "card-danger"
						$if note['tbl'] == 'notes':
							$ type = "Note"
							$ cardType = "card-info"
						<div class="col-xs-12 col-md-12">
						<div class="card $cardType note-card text-center">
							<div class="card-header">
								<h5 class="card-title">$type</h5>
							</div>
							<div class="card-block">
								<p class="card-text">$note['contents']</p>
							</div>
							$if note['tbl'] == 'dailyReports':
								<div class="card-block">
									<hr>
									<p class="card-text"><b>Arrival Time:</b> $note['arrival_time']</p>
									<p class="card-text"><b>Departure Time:</b> $note['departure_time']</p>
									<hr>
									<p class="card-text"><b>People on Site:</b></p>
									<p class="card-text">$note['people_on_site']</p>
								</div>
							$if note['tbl'] == 'actionItems':
								<div class="card-block">
									<hr>
									$if note['completion_time']:
										<p class="card-text">Completed by $note['completion_user']['name'] at $note['completion_time']</p>
									$else:
										<p class="card-text">Assigned User: 
										$if note['assigned_user']:
											$note['assigned_user']
										$else:
											<button>Add one</button><br> (not implemented)
										</p>
										<hr>
										<p class="card-text"><button>Complete</button><br>(not implemented)</p>
								</div>
							<div class="card-footer text-muted small">
								Created by $note['author']['name'] at $note['entry_time']
							</div>
						</div><br>				
						</div>
			</div>
		</div>
	</div>
	</div>
<!-- End Note Stuff -->


</body>
</html>
