$def with (title, jobs)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "/login",
      signOutUrl: "/logout",
    }
  );
</script>
<title>Jobn - Get Jobn already!</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-2"><img src="/static/logo_small.png" class="img-responsive logo" alt="Jobn"></div>
		<div class="col-sm-8"><h1 style="text-align:center;">::Jobs::</h1></div>
		<div class="col-sm-2" style="z-index:255;height:65px;"><div id="navbar" style="vertical-align:middle;"></div></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-2"><h3 style="text-align:center;vertical-align:middle;"><a href="/dashboard" class="button">Dashboard</a></h3></div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2"><h3 style="text-align:center;vertical-align:middle;"><a href="newJob" class="button">Add a Job</a></h3></div>
  </div>
</div>
<div class="container">
  <div class="card-group">
        $for job in jobs:
          $ job['location'] = job['street_address']+" "+job['city']+" "+job['state']+" "+job['zip']
          $ job['location_small'] = job['street_address']+" "+job['city']
          $if job['phase'] == "open":
            $ cardType = "card-success"
          $else:
            $ cardType = "card-danger"
          <div class="col-sm-3">
            <div class="card card-inverse $cardType text-center">
              <div class="card-block">
                <a href="job/$job['id']"><h4 class="card-title">$job['name']</h4></a>
                <a href="http://maps.apple.com/?q=$job['location']" target="blank" role="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>$job['location_small']
                </a>
              </div>
            </div>
          </div>
        </div>
</div>
</body>
</html>
