<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/favicon.png">

<script type="text/javascript">
var imgData;
$$(document).ready(function(){
	$$("a.gallery").fancybox({
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'speedIn'       :   600, 
        'speedOut'      :   200, 
        'overlayShow'   :   false,
        'cyclic'        :   true,
        'showNavArrows' :   true
    });
    prepPhotoUploader()
});
function prepPhotoUploader() {
    $$('#loader').hide()
    $$('#imgPreview').hide()
    document.getElementById('files').onchange = function (e) {loadFileFromInput(e.target);};
    $$('#cancelImage').click(function(){
        imgData = {}
        $$('#img').removeAttr("src");
        $$('#imgPreview').hide();
        $$("#files").replaceWith($$("#files").clone());
        document.getElementById('files').onchange = function (e) {loadFileFromInput(e.target);};
    });
    $$('#submitImage').click(function(){
        $$('#loader').show()
        $$("#loader").width($$("#img").width());
        $$.post("/forward/photo", JSON.stringify(imgData))
            .done(
                function(response) {
                    alert("response: " + response)
                    $$('#loader').hide()
                    console.log("response: " + response)
                    if (apiResponseIsGood(response)) {
                        createNewPhoto(imgData);
                    };
                }
            );
    });
}
function loadFileFromInput(input) {
    var reader; 
    if (input.files && input.files[0]) {
    	var file = input.files[0];
        reader = new FileReader();
        reader.readAsDataURL(file);
        //filereaders run on a different thread, so we
        // need to wait for it to finish it's work before we continue
        reader.onload = function (e) {
        	imgData = {}
        	imgData.name = file.name
        	imgData.lastModified = file.lastModified
        	imgData.type = file.type
        	imgData.file_extension = (file.name).substr((file.name).lastIndexOf('.'))
        	imgData.job_id = "9001"
        	imgData.base64_image = reader.result
            console.log(imgData)
            $$('#img').attr("src",reader.result);
            $$('#imgPreview').show()
        }
    }
}
function apiResponseIsGood(response){
    pattStr1 = "^2\\d\\d.*"
    pattStr2 = "^[0-9]*$$"
    var pattern1 = new RegExp(pattStr1)
    var pattern2 = new RegExp(pattStr2)
    test1 = pattern1.test(response)
    test2 = pattern2.test(response)
    result = test1 || test2
    console.log(result)
    return result
}
function createNewPhoto(photo){
    console.log("new photo")
    newNote = $$("#imageCardTemplate").html()
    newNote = replaceAllSubsting(newNote, "!url!", photo.base64_image);
    newNote = replaceAllSubsting(newNote, "!gallery!", "gallery01");

    $$('#addImageCard').after(newNote);

    $$("#addImageCard").replaceWith($$("#addImageCard").clone());

    prepPhotoUploader();
}
function replaceAllSubsting (str, oldSubStr, newSubStr) {
    return str.split(oldSubStr).join(newSubStr);
}
</script>

<style type="text/css">
#loader{
	height: 22px;
    position: relative;
    top: -22px;
}
</style>
</head>
<body>

<div class="container">
    <div class="card-group">
        <div class="col-sm-3" id="addImageCard">
            <div class="card">
                <input id="files" type="file" accept="image/*">
                <br>
                <div id="imgPreview">
                    <div style="max-height: 200px">
                        <img id="img" style="max-height: 200px; max-width: 100%">
                        <br>
                        <img id="loader" src="http://i.imgur.com/Bcv89it.gif">
                    </div>
                    <button id="submitImage">Submit</button>
                    <button id="cancelImage">Cancel</button>
                </div>
            </div>
        </div>
        
        $ pics = ["https://s3.amazonaws.com/jobapp-venture/images/9001_20151105182734220.jpg", "https://s3.amazonaws.com/jobapp-venture/images/9001_20151105183206686.jpg","https://s3.amazonaws.com/jobapp-venture/images/9001_20151105200017549.jpg"]
        $for pic in pics:
            <div class="col-sm-3">
                <div class="card">
                    <a class="gallery" rel="gallery01" href="$pic"><div style="height: 100px"><img src="$pic" class="card-img-top" style="max-height: 100%; max-width: 100%" alt=""/></div></a>
                </div>
            </div>
    </div>
</div>
<div id="imageCardTemplate" style="display:none;">
    <div class="col-sm-3">
        <div class="card">
            <a class="gallery" rel="!gallery!" href="!url!"><div style="height: 100px"><img src="!url!" class="card-img-top" style="max-height: 100%; max-width: 100%" alt=""/></div></a>
        </div>
    </div>
</div>

</body>
</html>