/*navigation bar*/
.logo {
	position:relative;
	float:left;
	height:45px;	
	top:5.5px;
	bottom:0px;
}

.logo_jobs {
	position:relative;
	float:left;
	height:45px;	
	top:-1px;
	bottom:7px;
}

.navbar-brand {
	position:relative;	
	font-size:2em;
	padding-top:8px;
	left:60px;
	font-weight:bold;
	color:#7F7F7F;
}

.jobs{
	position:relative;	
	font-size:2em;
	padding-top:15px;
	left:60px;
	font-weight:bold;
	color:#7F7F7F;
}

.navbar-collapse {
	position:relative;
	float:right;
}

.pages {
	padding-top:3px;
}

.navbar {
	height:60.7px !important;
}

#accountSwitcher {
    z-index:255;
    height:65px;
    display:inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    vertical-align:middle;
	position:relative;
	top:-5px;
}

#accountSwitcherjobs {
    z-index:255;
    height:65px;
    display:inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    vertical-align:middle;
	position:relative;
	top:-13px;
}

/*end of navigation bar*/	

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    vertical-align:middle;
    padding: 5px;
}
a.adminButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    vertical-align:middle;
    padding: 5px;
}

img.centerLogo {
	margin: 0 auto;
}

.hidden {
    display: hidden;
}
th{
  text-align: right;
}
tr{
  padding: 10px;
}

body {
    background-color: lavender;
}

/*notes*/

#notes_container{
    width: 34%;
    height: 350px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 25px;
}



textarea{
    width: 85%;
    height: 150px;
    margin: 20px;
    border-radius: 15px;
    text-indent: 10px;
    background-color: none;
}   

textarea.peopleOnsite{
    height: 75px;
    margin: 15px;
}

#notes{
    background-color: #33CCFF;
    border: 2px #33CCFF solid;
}

#dailyReport{
    background-color: #ff6633;
    border: 2px #ff6633 solid;
    height: 500px;
}

#acitonItem{
    background-color: green;
    border: 2px green solid;
}
/*end of notes*/