/*mobile screen size*/
@media (max-width: 550px) {
	.navbar-brand {
		position:absolute;
		width:100%;
		top:0;
		left:0;
	}
	
	.navbar-nav {
		background-color:white;
		margin:0;
		padding:0;
		width:100%;
		height:100%;
	}
	
}

/*bigger screens*/
@media (min-width: 550px) {
	.logo {
		margin-right:20px;
	}
}

/*navigation bar*/
.logo {
	position:relative;
	float:left;
	height:45px;	
	top:5.5px;
	bottom:0px;
}



.logo_jobs {
	position:relative;
	float:left;
	height:45px;	
	top:-1px;
	bottom:7px;
}

.navbar-brand {
    text-align: center;
	font-size:2em;
	margin-top:10px;
	font-weight:bold;
}

.job-name { 
    font-size:2em;
    font-weight:bold;
    color:#7F7F7F;
}

.jobs{
	position:relative;	
	font-size:2em;
	padding-top:15px;
	left:60px;
	font-weight:bold;
	color:#7F7F7F;
}

.navbar-collapse {
	position:relative;
	float:right;
}

#tiles {
	margin-top:10px;
}
/*.navbar-nav {
	background-color:white;
}*/

.pages {
	padding-top:3px;
}

.navbar {
	height:60.7px !important;
}

#accountSwitcher {
    z-index:255;
    height:65px;
    display:inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    vertical-align:middle;
	position:relative;
	top:-5px;
}

#accountSwitcherjobs {
    z-index:255;
    height:65px;
    display:inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    vertical-align:middle;
	position:relative;
	top:-13px;
}

/*end of navigation bar*/	

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    vertical-align:middle;
    padding: 5px;
}
a.adminButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    vertical-align:middle;
    padding: 5px;
}

img.centerLogo {
	margin: 0 auto;
}

.hidden {
    display: hidden;
}
th{
  text-align: right;
}
tr{
  padding: 10px;
}

body {
    background-color: lavender;
	padding-top:70px;
}

#notes_container{
    width: 34%;
    height: 350px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 25px;
}

#note{
    background-color: #ff6633;
    border: 2px #ff6633 solid;
    height: 500px;
}
.note-card {
    background-color: aliceblue;
    border-width: .15rem;
}
.note-card > .card-header  {
    padding: .0125rem;
    margin-bottom: 0rem;
}
.note-card > .card-header > .card-title {
    padding: .0125rem;
    margin-bottom: 0rem;
}
.note-card > .card-block {
    padding: .0125rem;
    margin-bottom: 0rem;
}.note-card > .card-block > p {
    padding: .0125rem;
    margin-left: .1rem;
    margin-bottom: 0rem;
}
.note-card > .card-block > hr {
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.note-card > .card-footer {
    padding: .0125rem;
    margin-bottom: 0rem;
}
